<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.task_manage">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
    android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Kora App"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Task_manage"
        tools:targetApi="m">
        <activity android:name=".rejected_details"></activity>
        <activity android:name=".rejected" />
        <activity android:name=".approved" />
        <activity android:name=".changePassword" />
        <activity android:name=".Profile" />
        <activity android:name=".submit" />
        <activity android:name=".task_details" />
        <activity android:name=".new_tasks" />
        <activity android:name=".Home" />
        <activity
            android:name=".SignUp"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>